.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/* opmaak video */
main video{
    width: 100%;
   
    min-width: 15em;
    border-radius: 1em;
    
}
/* opmaak eerste section*/
main  section:nth-of-type(1) {
    position: relative;
}
main section:nth-of-type(1) h2{
    position: absolute;
    bottom: 3em;
    right: 1em;
    z-index: 1000;
    font-family: "rhode 1";
    text-transform: uppercase;
    color: var(--color-text-header);
    font-size: 1em;
}
main section:nth-of-type(1) a{
    position: absolute;
    bottom: 2em;
    right: 2em;
    z-index: 1000;
    font-family: "rhode 1";
    color: var(--color-text-header);
    text-transform: uppercase;
    font-size: .7em;
    border: .1em solid var(--color-text-header);
    padding: .6em;
    border-radius: 2em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    
}
main section:nth-of-type(1) button{
    appearance: none;
    border: none;
    opacity: 100%;
    background-color: transparent;
    border:.1em solid var(--color-text-header);
    border-radius: 4em;

    position: absolute;
    bottom: 1em;
    left: 1.5em;
    padding: 1em;
    
}

main section:nth-of-type(1) button img{
    display: block;
    width: 1.3em;
    height: 1.3em;
    position: absolute;
    bottom: .4em;
    left: .3em;
    /* padding:em; */
    /* background-color: transparent; */

    @media (prefers-color-scheme:dark ) {
        filter: invert(1);
    }
}

/* opmaak eerste section GROOT scherm */
@media (min-width:46em) { 
  main section:nth-of-type(1){
    position: relative;
}
main section:nth-of-type(1) h2{
    position: absolute;
    bottom: 3em;
    right: 1em;
    z-index: 1;
    font-family: "rhode 1";
    text-transform: uppercase;
    color: var(--color-text-header);
    font-size: 1.5em;
}
main section:nth-of-type(1) a{
    position: absolute;
    bottom: 1.5em;
    right: 1em;
    z-index: 1;
    font-family: "rhode 1";
    color: var(--color-text-header);
    text-transform: uppercase;
    border: .1em solid var(--color-text-header);
    padding: .6em;
    border-radius: 2em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
}
main section:nth-of-type(1) button{
    appearance: none;
    border: none;
    opacity: 100%;
    background-color: transparent;
    border:.1em solid var(--color-text-header);
    border-radius: 4em;
    position: absolute;
    bottom: 1em;
    left: 1em;
    padding: 2em;
}

main section:nth-of-type(1) button img{
    display: block;
    width: 2em;
    height: 2em;
    position: absolute;
    bottom: .9em;
    left: .9em;
    /* padding:em; */
    /* background-color: transparent; */

    @media (prefers-color-scheme:dark ) {
        filter: invert(1);
    }
}
}

/* opmaak article carousel */




main section article{
background-color: var(--color-achtergrondvlakken);
border-radius: 1em;
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: 1fr 1fr 1fr;
margin: .3em;


}

main section article img{
  grid-column: 1 / 3;  
  grid-row: 1 / 5;   
  width:100% ;
  height:100%;
  min-width: 10em;
  object-fit: cover;
  border-radius: 1em;

}
main section article h2{

font-family: "rhode titel";
color: var(--color-text-hoofdtekst);
font-size: 3em;
text-transform: lowercase;
padding-left: .5em;
grid-column: 1/3;
grid-row: 1;
z-index: 1;
margin-top: .1em;
position: relative;

}

main section article h3{
    font-family: "rhode 1";
    text-transform: uppercase;
    color: var(--color-text-hoofdtekst);
    font-size: .9em;

    grid-column: 1/3;
    grid-row: 3;
    margin: 0;
    z-index: 1;
    padding-left: 1em;
    position: relative;
    align-self: self-end;

}

main section article p:nth-of-type(1){
    display: flex;
    justify-content: center;
    grid-column: 2;
    grid-row: 1;
    align-self: start;
    justify-self: end;
    z-index: 1;
    width: 8em;
    background-color: var(--color-text-hoofdtekst);
    color: var(--color-text-header);
    border-radius: 2em;
    padding: .4em;
    margin: 1em;

    font-family: "rhode 1";
    font-size: .7em;
    position: relative;

}
 
main section article p:nth-of-type(2) {

color: var(--color-text-p);
margin: 0;
font-family: "rhode 2";
font-size: .8em;

    grid-column: 1 / -1; 
    grid-row: 4;
    margin: 0.5rem 0;

    padding-left: 1em;
    position: relative;
}
main section article p:nth-of-type(3) {
    grid-column: 2;
    grid-row: 3;
    justify-self: end;
    margin: 0;
    z-index: 1;
    font-family: "rhode 1";
    padding-right: 1em;
    position: relative;
    align-self: self-end;
    font-size: 1em;
    color: var(--color-text-p);
   
}
@media (min-width:60em){

main section article img{
   width: clamp(30vw, 30vw, 20em);
}
main section article{
    margin: .9em;

}
}

/* carousel articles */
main section:nth-child(2){
   display: flex;
   overflow-x:auto;
 scroll-snap-type: x mandatory;
 scroll-behavior: smooth;
 overscroll-behavior-x: auto;
 gap: 1em;

   anchor-name: --carousel;
  scroll-behavior:smooth;
  margin: 0;

}

main section article {
  flex-basis: 20em;
  flex-shrink: 0;
  scroll-snap-align: center;
}

main section:nth-child(2){
  &::scroll-button(*) {
    position: fixed;
    position-anchor: --carousel;
    position-visibility: always;
  }

 &::scroll-button(right) {
        position-area: block-end center;
        content: '>' / 'Next';
        justify-self: end;
        width: 5em;
        height: 5em;
        padding: .8em;
        border-radius: 10em;
        background-color: var(--color-achtergrondvlakken);
        border: none;
    }
 
    &::scroll-button(left) {
        position-area: block-end center;
        content: '<' / 'Previous';
        justify-self: end;
        width: 5em;
        height: 5em;
        right: 7em;
        padding: .8em;
        border-radius: 10em;
        background-color: var(--color-achtergrondvlakken);
        border: none;
    }
    &::scroll-button(right):disabled,
    &::scroll-button(left):disabled {
    background-color: var(--color-text-header);
    opacity: 1;        
    cursor: default;       
}
}
/* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/::scroll-button */

main section:nth-of-type(2)::-webkit-scrollbar {
  display: none;
}
/* bron: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */

/* opmaak eerste article */

main > article:nth-of-type(1){
   position: relative;
   margin-top: 7em;
}
main > article:nth-of-type(1) picture img{
  width: 100%;
  object-fit: cover;
 
}
main > article:nth-of-type(1) h2 {
    
    position: absolute;
    bottom:6.3em;
    left:1.8em;
    text-transform: uppercase;
    color: var(--color-text-hoofdtekst);
    font-family: "rhode 1";
    font-size: 1em;
    /* justify-content: start;
    align-items: bottom; */

}
main > article:nth-of-type(1) p{
    position: absolute;
    bottom: 2em;
    left: 2em;
    right: 1em;
    font-size: .9em;
    color: var(--color-text-p);
    font-family: "rhode 2";
    min-width: 19em;
    max-width: 19em;
    /* justify-content: start;
    align-items: bottom; */
}
main > article:nth-of-type(1) a{
    appearance: none;
    position: absolute;
    bottom:0;
    left: 2em;
    border-radius: 2em;
    background-color: transparent;
    padding: .5em;
    font-family: "rhode 2";
    text-transform: uppercase;
    border: .1em solid var(--color-text-p);
    color: var(--color-text-p);
    width: 10em;
    text-decoration: none;
    display: flex;               
  align-items: center;         
  justify-content: center;  
   
}

@media (min-width:50em) {
    main > article:nth-of-type(1) picture img{
    width: 100%;
    /* height: 55em; */
    object-fit: cover;
    /* padding-top: 5em;
    padding-bottom: 5em;
    margin: 2em; */
 }
 main > article:nth-of-type(1) h2 {
    
    /* position: absolute;
    bottom:13em;
    left:1.6em; */
    text-transform: uppercase;
    color: var(--color-text-hoofdtekst);
    font-family: "rhode 1";
    font-size: 1.5em;
    /* justify-content: start;
    align-items: bottom; */

}
main > article:nth-of-type(1) p{
    /* position: absolute;
    bottom: 11em;
    left: 2em;
    right: 1em; */
    font-size: 1.2em;
    color: var(--color-text-p);
    font-family: "rhode 2";
    max-width: 19em;
    /* justify-content: start;
    align-items: bottom; */
}
main > article:nth-of-type(1) a{
    appearance: none;
    /* position: absolute;
    bottom:13em;
    left: 2.4em; */
    border-radius: 2em;
    background-color: transparent;
    padding: .5em;
    font-family: "rhode 2";
    text-transform: uppercase;
    border: .1em solid var(--color-text-p);
    color: var(--color-text-p);
    width: 10em;
    margin-bottom: 1em;
    text-decoration: none;
}
}

/* opmaak tweede article */
main > article:nth-of-type(2) {
  display: grid;
  background-color: var(--color-achtergrondvlakken);
  border-radius: 1em;
  /* display: flex;
  flex-direction: column-reverse; */
}
main > article:nth-of-type(2) > img{
    width: 100%;
    order: -1;
}
main > article:nth-of-type(2) h2{
    text-transform: uppercase;
    color: var(--color-text-hoofdtekst);
    font-family: "rhode 1";
    font-size: 1em;
    grid-template-rows: -1;
    padding-left: 2em;

}
main > article:nth-of-type(2) p{
    font-family: "rhode 2";
    color: var(--color-text-p);
    margin-top: 0;
    padding-left: 2em;
    font-size: .9em;
    max-width: 40em;
}
main > article:nth-of-type(2) a{
    text-transform: uppercase;
    text-decoration: none;
    border: .1em solid var(--color-text-p);
    color: var(--color-text-p);
    font-family: "rhode 2";
     display: flex;               
  align-items: center;         
  justify-content: center;  

    border-radius: 2em;
    background-color: transparent;
    padding: .5em;
    width: 10em;
    margin-bottom: 1em;
    margin-left: 2em
    
}

@media (min-width:46em) {
    main > article:nth-of-type(2) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr max-content max-content;
        margin: 2em;
    }

    main > article:nth-of-type(2) img{
        grid-row-start: 1;
        grid-row-end: 4;
    }
    main > article:nth-of-type(2) h2{
       align-self: end;
       font-size: 2em;
       padding-left: 1em;
       margin-bottom: .3em;

    }
     main > article:nth-of-type(2) p{
       /* position: absolute; */
       /* bottom: 3em; */
       /* right: 24.3em; */
       /* max-width: 20em; */
       font-size: 1em;

     }
      main > article:nth-of-type(2) a{
        /* position: absolute; */
        /* bottom: 1.5em; */
        /* right: 25.5em; */
        /* margin-bottom: 1em; */
        height: 2.5em;
        margin-left: 1em;
        font-size: 1em;
        text-decoration: none;
          display: flex;               
  align-items: center;         
  justify-content: center;  

      }
}

main > article:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    background-color: var(--color-achtergrondvlakken);
    border-radius: 1em;
    margin-top: 4em;
}
main > article:nth-of-type(3) img{
    order: 1;
}
main > article:nth-of-type(3) h2{
    order: 2;

    color: var(--color-text-hoofdtekst);
    font-family: "rhode 2";

}
main > article:nth-of-type(3) a{
    order: 3;
    text-decoration: none;
    font-family: "rhode 2";
    text-transform: uppercase;
    border: .1em solid var(--color-text-p);
    color: var(--color-text-p);

    border-radius: 2em;
    background-color: transparent;
    padding: .5em;
    width: 10em;
    margin-bottom: 1em;
   
    display: flex;               
    align-items: center;         
    justify-content: center;  

}
main > article:nth-of-type(3) h3{
    order: 4;
    font-family: "rhode 1";
    color: var(--color-text-p);
    border-top: .1em solid var(--color-text-p) ;
    padding: 1em;
    margin: 0;
}

@media (min-width:46em){
    main > article:nth-of-type(3){
        /* display: flex;
        flex-direction: row-reverse;
        position: relative;
        margin-top: 4em; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  max-content 1fr  repeat(3, max-content);
        /* grid-template-rows: max-content max-content max-content max-content max-content ; */
        margin-bottom: 4em;
        margin: 2em;

    }
    main > article:nth-of-type(3) img{
        /* width: 50em;
        height: 50em; */
        grid-row-start: 1;
        grid-row-end: 6;

        grid-column: 2;
        
    }
    main > article:nth-of-type(3) h2{
        /* position: absolute;
        top: .8em;
        left: 1em;
        max-width: 20em;
        min-width: 10em; */

        font-size: 3em;
        max-width: 15em;
        padding-left: 1em;

    }
    main > article:nth-of-type(3) a{
        /* position: absolute;
        top: 11em;
        left: 1.5em; */
        height: 2.5em;
        margin-left: 3em;
        font-size: 1em;
         font-family: "rhode 2";
    text-decoration: none;
    display: flex;               
    align-items: center;         
    justify-content: center;  
        
    }
     main > article:nth-of-type(3) h3{
        font-size: 2em;
        margin-left: 1em;
        margin-right: 1em;
          border-top: .05em solid var(--color-text-footerp) ;
     }
    

}
/* afbeelding van derde article mee laten schalen */
@media (min-width:40em) {
    main > article:nth-of-type(3) img{
        width: 100%;
        min-width: 50em;
        /* height: 35em; */
    }
}

