/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	color-scheme: light dark;
	/* kleuren*/
	--color-text-hoofdtekst: #605F5B;
	--color-text-p:rgb(103, 100, 94);
	--color-text-header:#70706E;
	--color-achtergrondvlakken: #F1F0EC;
	--color-text-header:#ffffff; 
	--color-text-footer: #000000;
	--color-text-footerp: #8d8d8b;



}
	/* fonts */
@font-face {
  font-family: "rhode 1";
  src: url("../fonts/60a6c625-19b1-4df2-8635-49ba40161273.woff2");
}
@font-face {
  font-family: "rhode 2";
  src: url("../fonts/195b0c1b-165f-4bd1-b23f-cbb6a9a3aa24.woff2");
}
@font-face {
  font-family: "rhode 3";
  src: url("../fonts/download.woff");
}
@font-face {
  font-family: "rhode titel";
  src: url("../fonts/rhodelettertyp.woff2");
}



/****************/
/* JOUW STYLING */
/****************/

/* HEADER */
header{
	font-family: "rhode 1";
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
	position: relative;
	
}
header nav ul{
    display: flex;
	align-items: center;
    flex: 1;             
    gap: 4em;
    list-style: none;
	margin: 0;
	z-index: 100;
	font-family: 'rhode 1';
	position: absolute;
	top:1em;
}
header nav ul li a{
	text-decoration: none;
	color: var(--color-text-header);

}

header nav ul li:nth-child(1) {
	text-transform: uppercase;
    
}
header nav ul li:nth-child(2) {
	text-transform: uppercase;
}

header nav ul li:nth-child(3) {
   
	text-transform: uppercase;
}
header nav ul li:nth-of-type(4){
	font-family: "rhode 1";
	font-size: 3em;
}
header nav ul li:nth-child(5) {
	text-transform: uppercase;
}
header nav ul li:nth-child(6) {
	text-transform: uppercase;
}
header nav ul li:nth-child(7) {
	text-transform: uppercase;
	
}
/* nav li */


/* menu button opmaak */
header button {
  appearance:none;
  
  width:2.5em;
  aspect-ratio:1/1;
  background-color: var(--color-achtergrondvlakken);
  border:none;
  padding:0;
  
  display:grid;
  justify-items:center;
  align-items:center;
}
header button span{
  display:block;
    
  width:1.5em;
  height:0.1em;
  background-color:var(--color-text-hoofdtekst);
  
  grid-row-start:1;
  grid-column-start:1; 
  
  transition:0.2s;
}

header button span:nth-of-type(1) {
  translate:0 -0.3em;
}

header button span:nth-of-type(2) {
/*  staat al goed  */
}

header button span:nth-of-type(3) {
  translate:0 0.3em;
}

header button.is-open span:nth-of-type(1) {
  translate:0 0;
  rotate:-180deg;
}

header button.is-open span:nth-of-type(2) {
scale:0 1;
}

header button.is-open span:nth-of-type(3) {
  translate:0 0;
  rotate:180deg;
}
/* einde buttonopmaak */


/* MEDIA QUERIES */
@media (max-width:46em) {
  header nav li{
   display: none;
  }

 header nav {
    position: fixed;
    inset: 0;
    
    translate: 0 -100%;
    transition: 0.9s ease;
    padding-top: 5em;
  }

  header nav.open {
    translate: 0 0;
	z-index: 1000;
	background-color: var(--color-achtergrondvlakken);
  }

  header nav.open ul{
	display: grid;
	grid-template-columns: 0;
	grid-template-rows: 1;
	align-self: flex-start;
  }

  header nav ul li {
    display: block;
}
  header section button {
  position:relative;
  z-index:1100;
  
}
header nav a li:nth-of-type(4){
text-transform: lowercase;
font-size: 10em;

}

}
@media (min-width:46em) {
  header section button{
   display: none;
  }
}

/* opmaak footer */
footer{
    background-color: var(--color-achtergrondvlakken);
    border-radius: 2em;
	
}
footer h2{
    font-family: "rhode 1";
    font-size: 7em;
    color: var(--color-text-footer);
    margin-top: 0;
    margin-bottom:0;
	padding-bottom: 0em;
	border-bottom: 1px solid var(--color-text-footer);

}
footer section h3{
	font-family: "rhode2 2";
}
footer section{
	display: flex;
	justify-content: space-between;
}

footer section nav ul{
 padding: 0;
 margin: 0;
 list-style: none;
}

footer section ul li{
	padding: 1em;
}

footer section ul li a{
	text-decoration: none;
	color: var(--color-text-footerp);
	font-family: "rhode 2";
	font-size: .9em;
}
footer section nav h3{
	font-family: "rhode 2";
	text-transform: uppercase;
	color: var(--color-text-hoofdtekst);
	font-size: .9em;
}