/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* kleuren*/
	--color-text-header:#ffffff;
	--color-text-hoofdtekst: #605F5B;
	--color-text-p:#A8A7A3;
	--color-achtergrondvlakken: #F1F0EC;

}
	/* fonts */
@font-face {
  font-family: "rhode 1";
  src: url("../fonts/60a6c625-19b1-4df2-8635-49ba40161273.woff2");
}
@font-face {
  font-family: "rhode 2 ";
  src: url("../fonts/195b0c1b-165f-4bd1-b23f-cbb6a9a3aa24.woff2");
}
@font-face {
  font-family: "rhode 3";
  src: url("../fonts/download.woff");
}
@font-face {
  font-family: "rhode titel";
  src: url("../fonts/rhodelettertyp.woff2");
}



/****************/
/* JOUW STYLING */
/****************/

/* HEADER */
header{
	font-family: "rhode 1";
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;
	
	
}
header nav ul{
    display: flex;
    flex: 1;             
    gap: 2em;
    list-style: none;
	margin: 0;
	z-index: 100;
	font-family: 'rhode 4';
}
header nav ul li a{
	text-decoration: none;
}
header nav ul li:nth-child(1) {
	text-transform: uppercase;
    
}
header nav ul li:nth-child(2) {
	text-transform: uppercase;
}

header nav ul li:nth-child(3) {
    margin-right: auto; 
	text-transform: uppercase;
}
header nav ul li:nth-of-type(4){
	font-family: "rhode";
	font-size: 3em;

}
header nav a li:nth-of-type(4){
	text-transform: lowercase;
	font-size: 10em;
}
header nav ul li:nth-child(5) {
    margin-left: auto;   
	text-transform: uppercase;
}
header nav ul li:nth-child(6) {
	text-transform: uppercase;
}
header nav ul li:nth-child(7) {
	text-transform: uppercase;
	
}
/* nav li */


/* menu button opmaak */
header button {
  appearance:none;
  
  width:2.5em;
  aspect-ratio:1/1;
  background-color: var(--color-achtergrondvlakken);
  border:none;
  padding:0;
  
  display:grid;
  justify-items:center;
  align-items:center;
}
header button span{
  display:block;
    
  width:1.5em;
  height:0.1em;
  background-color:var(--color-text-hoofdtekst);
  
  grid-row-start:1;
  grid-column-start:1; 
  
  transition:0.2s;
}

header button span:nth-of-type(1) {
  translate:0 -0.3em;
}

header button span:nth-of-type(2) {
/*  staat al goed  */
}

header button span:nth-of-type(3) {
  translate:0 0.3em;
}

header button.is-open span:nth-of-type(1) {
  translate:0 0;
  rotate:-180deg;
}

header button.is-open span:nth-of-type(2) {
scale:0 1;
}

header button.is-open span:nth-of-type(3) {
  translate:0 0;
  rotate:180deg;
}
/* einde buttonopmaak */


/* MEDIA QUERIES */
@media (max-width:46em) {
  header nav li{
   display: none;
  }
 header nav {
    position: fixed;
    inset: 0;
    background:var(--color-achtergrondvlakken);
    translate: 0 -100%;
    transition: 0.9s ease;
    padding-top: 5em;
  }

  header nav.open {
    translate: 0 0;
	z-index: 1000;
  }

  header nav.open ul{
	display: grid;
	grid-template-columns: 0;
	grid-template-rows: 1;
	align-self: flex-start;
  }

  header nav ul li {
    display: block;
}
  header section button {
  position:relative;
  z-index:1100;
  
}
  header nav a li:nth-of-type(4){
	text-transform: lowercase;
	font-size: 10em;

}

}
@media (min-width:46em) {
  header section button{
   display: none;
  }
}



