header nav ul{
    background-color: var(--color-achtergrondvlakken);
    padding: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    margin-left: 3em;
    margin-right: 3em;
}
header nav{
    margin-left: 2em;
    margin-right: 2em;
}
header nav ul li a {
    color: var(--color-text-p);
}
main > article:nth-of-type(3) {
  display: grid;
  background-color: var(--color-achtergrondvlakken);
  border-radius: 1em;

}
main > article:nth-of-type(3) > img{
    width: 100%;
     order: -1;
}
main > article:nth-of-type(3) h2{
    text-transform: uppercase;
    color: var(--color-text-hoofdtekst);
    font-family: "rhode 1";
    font-size: 1em;
    /* grid-template-rows: -1; */
    padding-left: 2em;

}
main > article:nth-of-type(3) p{
    font-family: "rhode 2";
    color: var(--color-text-p);
    margin-top: 0;
    padding-left: 2em;
    font-size: .9em;
    max-width: 40em;
}
main > article:nth-of-type(3) a{
    text-transform: uppercase;
    border: .1em solid var(--color-text-p);
    color: var(--color-text-p);

    border-radius: 2em;
    background-color: transparent;
    padding: .5em;
    width: 10em;
    margin-bottom: 1em;
    margin-left: 2em;
    text-decoration: none;
    display: flex;               
  align-items: center;         
  justify-content: center;
  font-family: "rhode 2";
    
}

@media (min-width:46em) {
    main > article:nth-of-type(3) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr max-content max-content;
        margin: 2em;
    }

    main > article:nth-of-type(3) img{
        grid-row-start: 1;
        grid-row-end: 4;
    }
    main > article:nth-of-type(3) h2{
       align-self: end;
       font-size: 2em;
       padding-left: 1em;
       margin-bottom: .3em;

    }
     main > article:nth-of-type(3) p{
       font-size: 1em;
     }
      main > article:nth-of-type(3) a{
      
        height: 2.5em;
        margin-left: 1.7em;
        font-size: 1em;
          text-decoration: none;
    display: flex;               
  align-items: center;         
  justify-content: center;
  font-family: "rhode 2";
      }
}


main > article:nth-of-type(4){
   position: relative;
}
main > article:nth-of-type(4) picture img{
  width: 20em;

  object-fit: cover;

}
main > article:nth-of-type(4) h2 {
    
    position: absolute;
    bottom:6.3em;
    left:1.8em;
    text-transform: uppercase;
    color: var(--color-text-hoofdtekst);
    font-family: "rhode 1";
    font-size: 1em;


}
main > article:nth-of-type(4) p{
    position: absolute;
    bottom: 2.4em;
    left: 2.3em;
    right: 1em;
    font-size: .9em;
    color: var(--color-text-p);
    font-family: "rhode 2";
    min-width: 19em;
    max-width: 19em;
}
main > article:nth-of-type(4) a{
    appearance: none;
    position: absolute;
    bottom:0.5em;
    left: 2.4em;
    border-radius: 2em;
    background-color: transparent;
    padding: .5em;
    font-family: "rhode 2";
    text-transform: uppercase;
    border: .1em solid var(--color-text-p);
    color: var(--color-text-p);
    width: 10em;
    font-family: "rhode 2";
    text-decoration: none;
    display: flex;               
  align-items: center;         
  justify-content: center;

}

@media (min-width:50em) {
    main > article:nth-of-type(4) picture img{
    width: 100%;
   
    object-fit: cover;
 }
 main > article:nth-of-type(4) h2 {
    text-transform: uppercase;
    color: var(--color-text-header);
    font-family: "rhode 1";
    font-size: 1.5em;
  
}
main > article:nth-of-type(4) p{
    font-size: 1.2em;
    color: var(--color-text-header);
    font-family: "rhode 2";
    max-width: 19em;
 
}
main > article:nth-of-type(4) a{
    appearance: none;
    border-radius: 2em;
    background-color: transparent;
    padding: .5em;
    font-family: "rhode 2";
    text-transform: uppercase;
    border: .1em solid var(--color-text-p);
    color: var(--color-text-header);
    width: 10em;
    margin-bottom: 1em;
    font-family: "rhode 2";
    text-decoration: none;
    display: flex;               
    align-items: center;         
    justify-content: center;
}
}

/* carousels */

/* product section */

main article:nth-of-type(1) {
    display: grid;
    border-radius: 1em;
    background-color: var(--color-achtergrondvlakken);
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: max-content repeat(7 1fr);
    margin-top: 10em;
    margin: .5em;
}
main article:nth-of-type(1) > img{
    width: 100%;
    object-fit: cover;
    order: -1;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
   
    border-radius: 3em;
    padding: .3em;
}
main article:nth-of-type(1) h1{
    font-family: "rhode titel";
    font-size: 3em;
    grid-column-start: 1;
    grid-column-end: 3;
     grid-row-start: 2;
    grid-row-end: 3;
    color: var(--color-text-hoofdtekst);
    margin-bottom: 0;
}
main article:nth-of-type(1) h2{
    
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
   
    font-family: "rhode 2";
    text-transform: uppercase;
    font-size: 1em;
    color: var(--color-text-hoofdtekst);
    margin: 0;

}
main article:nth-of-type(1) p:nth-of-type(1){
    color: var(--color-text-p);
    margin-top: 0;
    /* padding-left: 2em; */
    font-size: .9em;
    max-width: 40em;

    grid-column-start: 1;
    grid-column-end: 3;
     grid-row-start: 4;
    grid-row-end: 5;
    font-family: "rhode 2";
}
main article:nth-of-type(1) p:nth-of-type(2){
     color: var(--color-text-p);
    margin-top: 0;
    /* padding-left: 2em; */
    font-size: .9em;
    max-width: 40em;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    font-family: "rhode 2";
}
main article:nth-of-type(1) button:nth-of-type(1){
    border-radius: 2em;
    padding: 1em;
    margin: 1em;
    width:100%;
    height: 3em;
    background-color: var(--color-text-footer);
    color: var(--color-text-header);

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    justify-self: center;
    font-family: "rhode 2";
    font-size: 1em;
    text-transform: uppercase;
    
}



@media (min-width:46em) {

   main article:nth-of-type(1) {
   margin: 2em;
   margin-top: 10em;
}
main article:nth-of-type(1) > img{
   
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 8;

    width: 40em;
    height: 40em;
    border-radius: 3em;
    padding: 2em;
}
   

main article:nth-of-type(1) h1{
    /* font-family: "rhode titel";
    font-size: 5em; */
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    /* color: var(--color-text-hoofdtekst);
    margin-bottom: 0; */
}
main article:nth-of-type(1) h2{
    padding-top: .8em;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    /* align-self: center;
   
    font-family: "rhode 2";
    text-transform: uppercase;
    font-size: 1em;
    color: var(--color-text-hoofdtekst);
    margin: 0; */

}
main article:nth-of-type(1) p:nth-of-type(1){
    /* color: var(--color-text-p);
    margin-top: 0;
    font-size: .9em;
    max-width: 40em; */
    padding: 0;
    padding-top: .8em;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    font-family: "rhode 2";
}
main  article:nth-of-type(1) p:nth-of-type(2){
     /* color: var(--color-text-p);
    margin-top: 0;
    padding-left: 2em;
    font-size: .9em;
    max-width: 40em; */
    padding: 0;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    font-family: "rhode 2";
}
main article:nth-of-type(1) button:nth-of-type(1){
    border-radius: 2em;
    padding: 1em;
    margin: 1em;
    width:100%;
    height: 3em;
    background-color: var(--color-text-footer);
    color: var(--color-text-header);

    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-self: center;
}
}






/* carousel tecnisch */
main ul:nth-of-type(1){
   display: flex;
   overflow-x:auto;
 scroll-snap-type: x mandatory;
 scroll-behavior: smooth;
 overscroll-behavior-x: auto;
 gap: 1em;
list-style: none;
   anchor-name: --carousel;
  scroll-behavior:smooth;
  margin: 0;

}

main article:nth-of-type(2) {
  flex-basis: 20em;
  flex-shrink: 0;
  scroll-snap-align: center;
}

main article ul{
  &::scroll-button(*) {
    position: fixed;
    position-anchor: --carousel;
    position-visibility: always;
    z-index: 1;  
  }

 &::scroll-button(right) {
        position-area: block-end center;
        content: '>' / 'Next';
        justify-self: end;
         width: 5em;
        height: 5em;
        padding: .8em;
        border-radius: 10em;
        background-color: transparent;
        border: .12em solid var(--color-text-footer);
        z-index: 1;  
        color: var(--color-text-footer);
    }
 
    &::scroll-button(left) {
        position-area: block-end center;
        content: '<' / 'Previous';
        justify-self: end;
        width: 5em;
        height: 5em;
        right: 7em;
        padding: .8em;
        border-radius: 10em;
        background-color:transparent;
        border: .12em solid var(--color-text-footer);
        z-index: 1;  
        color: var(--color-text-footer);
    }
    &::scroll-button(right):disabled,
    &::scroll-button(left):disabled {
    background-color: var(--color-text-header);
    opacity: 1;        
    cursor: default;
    z-index: 1;      
}
}
main article ul::-webkit-scrollbar {
  display: none;
}

/* carousel opmaak */

main article:nth-of-type(2) {
    background-color: var(--color-achtergrondvlakken);
    display: flex;
    position: relative;
    border-radius: 1em;
    margin: .5em;
    padding-bottom: 5em;
}
main article:nth-of-type(2) img{
    border-radius: 1em;
    width: 40vw;
    min-width: 13em;
    max-width: 25em;
    margin-top: 5em;
    margin-bottom: 2em;
}
main article:nth-of-type(2) h2{
    position: absolute;
    top: 0;
    left: 1.4em;
    font-family: "rhode 1";
    font-size: 2em;
    text-transform: lowercase;
    color: var(--color-text-hoofdtekst);
    padding-bottom: 1em;
}
